main {
  display: grid;
  grid: subgrid / subgrid;
  grid-area: content / main;
}

.about {
  position: relative;
  grid-area: content / main;
  
  display: grid;
  grid-template-columns: 1fr 1fr;  
  column-gap: 16px;
  container-name: about-section;
  container-type: inline-size;

  .about-content {
    grid-area: 1 / 1;

    @container about-section (max-width:800px) {
      grid-column: 1 / span 2;
    }
  }

  .collage { 
    align-self: stretch;
    object-fit: cover;
    max-width: 100%;
    grid-area: 1 / 2; 

    @container about-section (max-width: 800px) {
      display: none;
    }
  }
}

.about .bullets {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  column-gap: 24px;
}

.about .bullets ul li {
  list-style: none;
}
