main {
  display: grid;
  grid: subgrid / subgrid;
  grid-area: content / main;
}

.about {
  position: relative;
  grid-area: content / main;
  /* display: grid;
  grid-template-columns: auto auto; */
  /* display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap; */
}

.about .bullets {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  column-gap: 24px;
}

.about .bullets ul li {
  list-style: none;
}
/* 
.collage {
  width: 100%;
} */
.collage {
  float: right;
  width: 50%;
  margin-left: 16px;
  /* width: 300px;
  height: auto; */
}

@media screen and (max-width: 760px) {
  .collage {
    float: none;
    display: none;
  }
}
